<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png"  width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ipython-sql

Requirement already satisfied: sqlalchemy==1.3.9 in /usr/local/lib/python3.7/dist-packages (1.3.9)
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.7/dist-packages (0.3.9)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (5.5.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: prettytable in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (3.0.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (57.4.0)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (1.0.18)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.8.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from prettytable->ipython-sql) (4.10.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->prettytable->ipython-sql) (3.7.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->prettytable->ipython-sql) (3.10.0.2)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
!pip install -q pandas==1.1.5

In [5]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [6]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:2615: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
For Example "Landing_Outcome"**

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [7]:
%%sql
SELECT DISTINCT("Launch_Site") FROM SPACEXTBL

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [8]:
%%sql
SELECT "Customer", "Launch_Site" FROM SPACEXTBL WHERE "Launch_Site" LIKE 'CCA%' 
LIMIT 5

 * sqlite:///my_data1.db
Done.

[('SpaceX', 'CCAFS LC-40'),
 ('NASA (COTS) NRO', 'CCAFS LC-40'),
 ('NASA (COTS)', 'CCAFS LC-40'),
 ('NASA (CRS)', 'CCAFS LC-40'),
 ('NASA (CRS)', 'CCAFS LC-40')]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [9]:
%%sql
SELECT SUM("PAYLOAD_MASS__KG_") FROM SPACEXTBL WHERE "Customer" = 'NASA (CRS)'

 * sqlite:///my_data1.db
Done.

[(45596,)]

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [10]:
%%sql
SELECT AVG("PAYLOAD_MASS__KG_") FROM SPACEXTBL WHERE "Booster_Version" = 'F9 v1.1'

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [11]:
%%sql 
UPDATE SPACEXTBL
SET DATE = substr(DATE, 7, 4) || '-' ||
           substr(DATE, 4, 2) || '-' ||
           substr(DATE, 1, 2);

SELECT MIN(DATE) from SPACEXTBL 
WHERE "Landing _Outcome" = 'Success (ground pad)'

 * sqlite:///my_data1.db
101 rows affected.
Done.

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [14]:
%%sql
SELECT Booster_Version FROM SPACEXTBL
WHERE  (PAYLOAD_MASS__KG_ BETWEEN 4000 and 6000) 
AND "Landing _Outcome" = 'Success (drone ship)'

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7

##### List the total number of successful and failure mission outcomes

In [17]:
%%sql
SELECT COUNT("Mission_Outcome") from SPACEXTBL

 * sqlite:///my_data1.db
Done.

[(101,)]

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [20]:
%%sql
SELECT DISTINCT(Booster_Version), (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL) 
FROM SPACEXTBL

 * sqlite:///my_data1.db
Done.

[('F9 v1.0  B0003', 15600),
 ('F9 v1.0  B0004', 15600),
 ('F9 v1.0  B0005', 15600),
 ('F9 v1.0  B0006', 15600),
 ('F9 v1.0  B0007', 15600),
 ('F9 v1.1  B1003', 15600),
 ('F9 v1.1', 15600),
 ('F9 v1.1 B1011', 15600),
 ('F9 v1.1 B1010', 15600),
 ('F9 v1.1 B1012', 15600),
 ('F9 v1.1 B1013', 15600),
 ('F9 v1.1 B1014', 15600),
 ('F9 v1.1 B1015', 15600),
 ('F9 v1.1 B1016', 15600),
 ('F9 v1.1 B1018', 15600),
 ('F9 FT B1019', 15600),
 ('F9 v1.1 B1017', 15600),
 ('F9 FT B1020', 15600),
 ('F9 FT B1021.1', 15600),
 ('F9 FT B1022', 15600),
 ('F9 FT B1023.1', 15600),
 ('F9 FT B1024', 15600),
 ('F9 FT B1025.1', 15600),
 ('F9 FT B1026', 15600),
 ('F9 FT B1029.1', 15600),
 ('F9 FT B1031.1', 15600),
 ('F9 FT B1030', 15600),
 ('F9 FT  B1021.2', 15600),
 ('F9 FT B1032.1', 15600),
 ('F9 FT B1034', 15600),
 ('F9 FT B1035.1', 15600),
 ('F9 FT  B1029.2', 15600),
 ('F9 FT B1036.1', 15600),
 ('F9 FT B1037', 15600),
 ('F9 B4 B1039.1', 15600),
 ('F9 FT B1038.1', 15600),
 ('F9 B4 B1040.1', 15600),
 ('F9 B4 B1041.1', 15600),
 ('F9 FT  B1031.2', 15600),
 ('F9 B4 B1042.1', 15600),
 ('F9 FT  B1035.2', 15600),
 ('F9 FT  B1036.2', 15600),
 ('F9 B4 B1043.1', 15600),
 ('F9 FT  B1032.2', 15600),
 ('F9 FT  B1038.2', 15600),
 ('F9 B4 B1044', 15600),
 ('F9 B4  B1041.2', 15600),
 ('F9 B4  B1039.2', 15600),
 ('F9 B4 B1045.1', 15600),
 ('F9 B5  B1046.1', 15600),
 ('F9 B4  B1043.2', 15600),
 ('F9 B4  B1040.2', 15600),
 ('F9 B4 B1045.2', 15600),
 ('F9 B5B1047.1', 15600),
 ('F9 B5B1048.1', 15600),
 ('F9 B5 B1046.2', 15600),
 ('F9 B5B1049.1', 15600),
 ('F9 B5 B1048.2', 15600),
 ('F9 B5 B1047.2', 15600),
 ('F9 B5 B1046.3', 15600),
 ('F9 B5B1050', 15600),
 ('F9 B5B1054', 15600),
 ('F9 B5 B1049.2', 15600),
 ('F9 B5 B1048.3', 15600),
 ('F9 B5B1051.1', 15600),
 ('F9 B5B1056.1 ', 15600),
 ('F9 B5 B1049.3', 15600),
 ('F9 B5 B1051.2 ', 15600),
 ('F9 B5 B1056.2 ', 15600),
 ('F9 B5 B1047.3 ', 15600),
 ('F9 B5 B1048.4', 15600),
 ('F9 B5B1059.1', 15600),
 ('F9 B5 B1056.3 ', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1046.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1059.2', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5B1058.1 ', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1059.3', 15600),
 ('F9 B5B1060.1', 15600),
 ('F9 B5 B1058.2 ', 15600),
 ('F9 B5 B1051.5', 15600),
 ('F9 B5 B1049.6', 15600),
 ('F9 B5 B1059.4', 15600),
 ('F9 B5 B1060.2 ', 15600),
 ('F9 B5 B1058.3 ', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5B1062.1', 15600),
 ('F9 B5B1061.1 ', 15600),
 ('F9 B5B1063.1', 15600),
 ('F9 B5 B1049.7 ', 15600),
 ('F9 B5 B1058.4 ', 15600)]

### Task 9

##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [79]:
%%sql
SELECT "Date", "Booster_Version", "Launch_site", "Landing _Outcome" from SPACEXTBL
WHERE substr(Date, 1, 4) = '2015'
AND "Landing _Outcome" = 'Failure (drone ship)'

 * sqlite:///my_data1.db
Done.

[('2015-01-10', 'F9 v1.1 B1012', 'CCAFS LC-40', 'Failure (drone ship)'),
 ('2015-04-14', 'F9 v1.1 B1015', 'CCAFS LC-40', 'Failure (drone ship)')]

### Task 10

##### Rank the  count of  successful landing_outcomes between the date 04-06-2010 and 20-03-2017 in descending order.

In [121]:
%%sql
SELECT "Date", "Landing _Outcome", COUNT("Landing _Outcome") FROM SPACEXTBL
WHERE "Date" BETWEEN '2010-06-04' AND '2017-03-20'
AND "Landing _Outcome" like 'Success%'
GROUP BY "Landing _Outcome"
ORDER BY COUNT("Landing _Outcome") DESC

 * sqlite:///my_data1.db
Done.

[('2017-01-14', 'Success (drone ship)', 5),
 ('2017-02-19', 'Success (ground pad)', 3)]

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>